rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    // Patients Collection
    match /patients/{patientId} {
      allow read, write: if true;
    }

    // Dialysis Sessions Collection
    match /dialysis_sessions/{sessionId} {
      allow read, write: if true;
    }

    // Medical Records Collection
    match /medical_records/{recordId} {
      allow read, write: if true;
    }
  }
}
